.blc-menu {
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.list-menu {
    width:70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-menu {
    margin: 20px auto;
}

.block-item {
    display: block;
}

.img-item {
    border-radius: 10px;
    box-shadow: 0 0 8px #000000a3;
}

.title-item {
    text-align: center;
}

.link-item {
    display: block;
    color: #ffffff;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    border: 3px solid black;
    transition: all 0.5 ease-in;
}

.link-item:hover {
    color: black;
    background-color: #ffffff;
}

.col-md-6 {
    width: 70%;
    margin: auto;
}

.card-prod {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 10px;
}

.card-prod > div {
    margin: auto;
}

.card-prod  h3 {
    text-align: center;
}

.card-text {
    width: 80%;
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.price {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.card-img img {
    height: 200px;
}

.stretched-link {
    margin: auto;
    font-size: 22px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #1ab1cc;
    color: white;
    border: 2px solid #1ab1cc;
    padding: 0 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.stretched-link:hover {
    background-color: white;
    color: #1ab1cc;
    border: 2px solid #1ab1cc;
}

@media screen and (max-width: 1240px) {

    .card-img, .card-img img{
        height: 100%;
    }
}

@media screen and (max-width: 680px) {
    .blc-menu {
        margin-top: 60px;
    }
}

@media screen and (max-width: 600px) {
    .card-prod {
        width: 300px;
        display: flex;
        flex-direction: column-reverse;
    }    

    .card-img img {
        display: block;
        width: 100%;
    }
}